<!doctype html>

<html lang="en">

  <head>

    <!-- Required meta tags -->

    <meta charset="utf-8">
    <title>Page Not Found</title>
    <meta name= "description" content=""/>
	  <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- favicon -->
   <link rel="icon" href="/static/images/Cargoflash_Favicon.png" type="image/png" sizes="16x16">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/aos.css">

    <!-- FontAwesome -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

    <!-- Colorbox -->

    <link rel="stylesheet" href="/static/css/colorbox.css">

	 <link rel="stylesheet" href="/static/css/animate.css">

   <link rel="canonical" href="https://www.MaxIndia.com/condition/404"/>
   <link rel="alternate" href="https://www.MaxIndia.com/" hreflang="en" /> 
  </head>

  <body>
  <%- include ('header.ejs') %>
	

	

	<div class="banner-sec">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->

        

        <!-- Wrapper for slides -->

          <div class="carousel-inner">

          <div class="item active">

            <img src="/static/images/carrier_banner.jpg" alt="">

           	<div class="carousel-captioninnermenu">

				<div class="container">

					<div class="row">

						<div class="col-lg-12" data-aos="fade-right" data-aos-duration="1500">

							<div class="bannertextmenu"> 

								<h4>   Page Not Found</h4> 
<p> OOPS! THAT PAGE CAN'T BE FOUND. </p>
							 <a href="/" class="homebk">Back to Home</a>

							</div>

						</div>

						 

					</div>

				</div>

			</div>

		

          </div>

  



        </div>



         

      </div>

   

   </div>

	
 
	 
 
  <%- include ('footer.ejs') %>

	 <script src="js/wow.js" type="text/javascript"></script>

	<script>

              new WOW().init();

              </script>

			  

			  <script>

  AOS.init();

</script>

	  

  </body>

</html>