
<title>Max India Limited </title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/css/bootstrap.css" />

<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/responsive.css" />
<link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/static/css/aos.css">
<link rel="icon" href="/static/images/Favicon.png" type="image/png" sizes="32x32">
<!-- Colorbox -->
<link rel="stylesheet" href="/static/css/colorbox.css">
<link rel="stylesheet" href="https://use.typekit.net/csf4rdv.css"> 
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">