<!DOCTYPE HTML>
<html>
   <head>
      <title> Max India limited </title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="static/css/bootstrap.css" />
      <link rel="stylesheet" href="static/css/style.css" />
      <link rel="stylesheet" href="static/css/responsive.css" />
      <link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon">
      <link rel="stylesheet" href="static/css/owl.carousel.min.css">
      <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="static/css/aos.css">
      <link rel="icon" href="static/images/Favicon.png" type="image/png" sizes="32x32">
      <!-- Colorbox -->
      <link rel="stylesheet" href="static/css/colorbox.css">
      <link rel="stylesheet" href="https://use.typekit.net/csf4rdv.css">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">

   <body>
      <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-sm-4 col-xs-8" data-aos="fade-up" data-aos-duration="1500">
                  <img src="static/images/header-logo.png"/>
               </div>
               <div class="col-sm-8 col-xs-4" data-aos="fade-up" data-aos-duration="1500">
                  <nav class="navbar navbar-default navbar-static-top" role="navigation">
                     <div class="container-fluid">
                        <div class="navbar-header">
                           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           </button>
                           <!-- <a class="navbar-brand" href="#"><img src="static/images/header-logo.png"/></a> -->
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                           <ul class="nav navbar-nav navbar-right">
                              <li><a  class="active" href="#">Home</a></li>
                              <li><a href="#">Company</a></li>
                              <li><a href="#">Our Business</a></li>
                              <li><a href="#">Investors</a></li>
                              <li><a href="#">Resources</a></li>
                              <li><a href="#">Connect</a></li>
                           </ul>
                        </div>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </div>
      <div class="banner">
         <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
            <div class="overlay"></div>
            <!-- <ol class="carousel-indicators">
               <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
               <li data-target="#bs-carousel" data-slide-to="1"></li>
               <li data-target="#bs-carousel" data-slide-to="2"></li>
               </ol> -->
            <div class="carousel-inner">
               <div class="item slides active">
                  <img src="static/images/investor-bg.jpg"/>
                  <div class="carousel-caption1" data-aos="fade-up" data-aos-duration="1500">
                     <h2>Legal</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="legal-main">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1>Legal</h1>
                  <h4>About the Online Privacy Statement</h4>
                  <p>Max India Limited (“Max India”) and our operating subsidiaries (“Max Group Companies”) value and protect your privacy. The objective of this Online Privacy Statement is to explain regarding the private information we collect, use, and share and to explain the privacy choices that you can make and the information you share with us will be treated with care on this website (“Website”). Please read this Online Privacy Statement before you visit this Website.</p>
                  <p>This Online Privacy Statement applies solely to: (a) personal information collected through this Website, and (b) Indian visitors to this Website.</p>
                  <h4>Hyper-Link Sites</h4>
                  <p>The Website provides links to other sites by allowing the user to leave this site to access Max Group Companies (each a “Hyper-Link Site”). This Online Privacy Statement does not apply in respect of any information you may provide or which may be collected while on the Hyper-Link Sites. Please read the privacy policies on the relevant Hyper-Link Site before providing any of your personal information on such sites.</p>
                  <h4>The Information We Collect</h4>
                  <p>Max India does not automatically collect your “IP Address” used to connect your computer to the Internet, browser type, version and operating system, however, it is likely that some of our Hyper-Linked Sites may collect your IP Address when you browse this Website, for example average time spent on this Website, pages viewed, information searched for, access times, statistical data and/or any other relevant information about your online experience.
                  </p>
                  <p>Max India does not use cookies (“Cookies”), however, it is likely that some of our Hyper-Linked Sites may enable Cookies to collect a user’s data. Cookies are small amounts of data, including an anonymous unique identifier, which is sent to your browser from a website’s computer, and are stored on your computer’s hard drive. If you prefer not to accept Cookies, the user may adjust their browser settings manually to notify the user when a Cookie is about to be sent, or a user may configure their browser to refuse Cookies automatically. However, if you turn off Cookies, or refuse to accept a request to place Cookies, some features and services on the Hyper-Linked Site may not function properly.</p>
                  <h4>How We May Use your Information</h4>
                  <p>If you contact us by e-mail or postal mail, you are voluntarily releasing personal and other information to us. Max India may collect your name, company name, e-mail address and any other information voluntarily provided by you, and use such information for the following purposes:</p>
                  <p>E-mail Newsletters related to Max India or the Max Group Companies.</p>
                  <p>Account Service Information: We may send you e-mail service notifications, or, contact you (with your consent), which include e-mails that provide account information, to answer your questions, or to fulfill a legal or regulatory disclosure requirement, or, to update you on the Max India social media sites being operated by Max India, and/or other Max Group entities.</p>
                  <p>Max India may use your information to enable us to provide you better services. The Max Group Companies whose websites you may access from the Hyper-Link Sites may use your information to see which pages you visit within the Hyper-Link Sites, which websites you visited before using the Hyper-Link Sites, and which websites you may visit after leaving the Hyper-Link Sites. This enables the Max Group Companies to develop statistics which help us to understand how our users may use the Hyper-Link Sites. The Hyper-Link Sites use this information in the aggregate to measure and improve the Hyper-Link Sites.</p>
                  <p>Max India does not sell or share personal information collected via this Website or via the e-mails covered by this Online Privacy Statement with entities outside of Max India so that they can independently market their own products and services directly to you.</p>
                  <p>Max India may share your information within our Max Group Companies as required or permitted by law. Max India may also use and disclose personal information in connection with security related or law enforcement investigations or in the course of co-operating with government or quasi-government authorities or complying with legal requirements. We may use all personal information and use any other information for statistical or scientific purposes.</p>
                  <h4>Contacting Us</h4>
                  <p>If you have questions about this Online Privacy Statement, you may call us on +91 11 26933601-10 or write to us  contact@maxindia.com</p>
                  <p>If you have concerns or questions about use of your personal information on any of our Hyper-Link Sites, you may call the relevant contact person as may be provided on the Hyper-Link Sites.</p>
                  <h4>Modifications to this Online Privacy Statement</h4>
                  <p>Max India reserves the right to amend, modify this Online Privacy Statement and post online any such revisions on this Website. Any such changes will be effective upon posting.</p>
               </div>
               

               
            </div>
         </div>
      </div>
      <div class="footer-main">
         <div class="container">
            <div class="row">
               <div class="col-sm-3" data-aos="fade-up" data-aos-duration="1500">
                  <div class="footer-left">
                     <img src="static/images/max-footer-logo.png" class="footer-logo"/>
                     <h5>Nullam pulvinar urna faucibus erat dignissim, in elementum elit finibus.</h5>
                     <h4>Office Info</h4>
                     <ul>
                        <li><img src="static/images/phone-icon.png" class="icon" /> +91 11 49376000, +91 11 26324126</li>
                        <li><img src="static/images/email-icon.png" class="icon"/> info@maxindia.com</li>
                        <li><img src="static/images/location-icon.png" class="icon"/> MAX INDIA, L21, Max Towers, Plot No. C-001/A/1 Sector – 16B, Noida-201301, Uttar Pradesh</li>
                     </ul>
                  </div>
               </div>
               <div class="col-sm-9" data-aos="fade-up" data-aos-duration="1500">
                  <div class="row">
                     <div class="col-sm-2">
                        <div class="footer-right">
                           <h4>Company</h4>
                           <ul>
                              <li><a href="#">Overview </a></li>
                              <li><a href="#">Our leadership</a></li>
                              <li><a href="#">Our journey</a></li>
                              <li><a href="#">Awards</a></li>
                              <li><a href="#">Our brands </a></li>
                              <li><a href="#">CSR</a></li>
                              <li><a href="#">JV Partnerships </a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="footer-right">
                           <h4>Our Business</h4>
                           <ul>
                              <li><a href="#">Antara Senior Care</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="footer-right">
                           <h4>Investors</h4>
                           <ul>
                              <li><a href="#">Overview</a></li>
                              <li><a href="#">Financials </a></li>
                              <li><a href="#">Stakeholder info</a></li>
                              <li><a href="#">Disclosures</a></li>
                              <li><a href="#">Annual reports</a></li>
                              <li><a href="#">Post ballot notice</a></li>
                              <li><a href="#">FAQ's</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="footer-right">
                           <h4>Resources</h4>
                           <ul>
                              <li><a href="#">In the News</a></li>
                              <li><a href="#">Press Releases</a></li>
                              <li><a href="#">Media</a></li>
                              <li><a href="#">Blogs</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-sm-2">
                        <div class="footer-right">
                           <h4>Careers</h4>
                           <ul>
                              <li><a href="#">Life at Max</a></li>
                              <li><a href="#">Testimonials</a></li>
                              <li><a href="#">Gallery</a></li>
                              <li><a href="#">Join us</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright-div">
			<p>Copyright 2022, MAX INDIA. All Rights Reserved.</p>
		</div>
      </div>
      <script type="text/javascript" src="static/js/jquery-1.12.0.min.js"></script> 
      <script src="static/js/bootstrap.min.js"></script> 
      <script type="text/javascript" src="static/js/owl.carousel.min.js"></script>
      <script src="static/js/aos.js"></script> 
      <script type="text/javascript" src="static/js/custom.js"></script> 
      <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js'></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
      <script type="text/javascript">
         const data = [
          { dateLabel: 'January 2017', title: 'Gathering Information' },
          { dateLabel: 'February 2017', title: 'Planning' },
          { dateLabel: 'March 2017', title: 'Design' },
          { dateLabel: 'April 2017', title: 'Content Writing and Assembly' },
          { dateLabel: 'May 2017', title: 'Coding' },
          { dateLabel: 'June 2017', title: 'Testing, Review & Launch' },
          { dateLabel: 'July 2017', title: 'Maintenance' }
         ];
         
         new Vue({
          el: '#app', 
          data: {
            steps: data,
          },
          mounted() {
            var swiper = new Swiper('.swiper-container', {
              //pagination: '.swiper-pagination',
              slidesPerView: 3,
              paginationClickable: true,
              grabCursor: true,
              paginationClickable: true,
              nextButton: '.next-slide',
              prevButton: '.prev-slide',
            });    
          }
         })
      </script>
   </body>
</html>