<!DOCTYPE HTML>
<html>
<head>
<title> Max India limited </title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/css/bootstrap.css" />

<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/responsive.css" />
<link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/static/css/aos.css">
<link rel="icon" href="/static/images/Favicon.png" type="image/png" sizes="32x32">
<!-- Colorbox -->
<link rel="stylesheet" href="/static/css/colorbox.css">
<link rel="stylesheet" href="https://use.typekit.net/csf4rdv.css"> 
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
<body>

<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-8" data-aos="fade-up" data-aos-duration="1500">
				<img src="/static/images/header-logo.png"/>
			</div>
			<div class="col-sm-8 col-xs-4" data-aos="fade-up" data-aos-duration="1500">
				<nav class="navbar navbar-default navbar-static-top" role="navigation">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <!-- <a class="navbar-brand" href="#"><img src="/static/images/header-logo.png"/></a> -->
				    </div>
				    <div class="collapse navbar-collapse" id="myNavbar">
				      <ul class="nav navbar-nav navbar-right">
				        <li><a  class="active" href="#">Home</a></li>
				        <li><a href="#">Company</a></li>
				        <li><a href="#">Our Business</a></li>
				        <li><a href="#">Investors</a></li>
				        <li><a href="#">Resources</a></li>
				        <li><a href="#">Connect</a></li>
				      </ul>
				    </div>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</div>
<div class="banner">
	<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
		<div class="overlay"></div>
		<ol class="carousel-indicators">
		   	<li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#bs-carousel" data-slide-to="1"></li>
		    <li data-target="#bs-carousel" data-slide-to="2"></li>
		 </ol>
		 <div class="carousel-inner">
		    <div class="item slides active">
		      	<img src="/static/images/csr-banner.jpg"/>
		      	<div class="carousel-caption1" data-aos="fade-up" data-aos-duration="1500">
		      		<h2>Testimonial</h2>
		      	</div>
		    </div>
	  	</div> 
	</div>
</div>
<div class="overview-main">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Testimonial</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="testimonial-div">
					<img src="/static/images/testimonial-img1.jpg"/>
					<div class="testimonial-content">
						<h4>Amit Singh</h4>
						<h5>Key Manager - Contact Centre, Max Bupa</h5>
						<p>“I’ve been with Max Bupa since 2011. Every day there is something new to learn or some challenge that makes things interesting and exciting. The company is constantly growing and moving forward and is driven by some extremely experienced senior managers and backed up by some of the best in the industry. Although the culture is relaxed and friendly, we are always looking to improve and streamline our processes to make our products and services the best out there.”</p>
					</div>
				</div>

				<div class="testimonial-div">
					<div class="testimonial-content">
						<h4>Dr. Dhirja Sharma</h4>
						<h5> Vice President, Medical Quality and Performance Improvement, Max Healthcare </h5>
						<p>“Max Healthcare pioneered the concept of Medical and service excellence in Healthcare delivery in our country. Over the years, an unwavering focus on the same has not only made working here as a physician a pleasure, but also an experience past compare.”</p>
					</div>
					<img src="/static/images/testimonial-img2.jpg"/>
				</div>
				<div class="testimonial-div">
					<img src="/static/images/testimonial-img3.jpg"/>
					<div class="testimonial-content">
						<h4>Ishan Bummi</h4>
						<h5> Chief Manager – Renewals, Max Bupa</h5>
						<p>“Max Bupa has given me an opportunity to build on my past experience and knowledge. The organization has helped me in improving my skills and hence enabling me to work towards company’s vision of helping the customers to live healthier and successful lives. It has been a pleasure and a great learning experience working with the organization.”</p>
					</div>
				</div>

				<div class="testimonial-div">
					<div class="testimonial-content">
						<h4>Mohan Menon</h4>
						<h5>General Manager - Brand & Marketing Communications, Max Healthcare</h5>
						<p>“Working at Max Healthcare is more than just a job; it’s about passion and working to make a difference in someone’s life. It is this vision that has made my journey at Max very special. When I joined Max almost 3 years ago, I didn’t know that this stint would be so rewarding, both personally and professionally. While I have learnt at every step professionally and worked with some of the best people, it is my personal learning that makes this journey so memorable. I am inspired by our dedication to achieve excellence, not just as a corporate value but in everything we do. I feel a sense of fulfilment when I see my communication making a difference in the life of a patient, explaining things easily to them, making hospitals a little less scary and at the same time making this environment even more exciting & friendly for my colleagues.”</p>
					</div>
					<img src="/static/images/testimonial-img4.jpg"/>
				</div>
				<div class="testimonial-div">
					<img src="/static/images/testimonial-img5.jpg"/>
					<div class="testimonial-content">
						<h4>Dr. Manuj Wadwa</h4>
						<h5>Director and Head Max Elite Institute of Orthopaedics and Joint Replacements – Upper North Region, Max Healthcare</h5>
						<p>“In the little over one year I have spent at Max, I have realized what sets this organization apart are the deeply entrenched values in the ethos of system. Max gives you a work environment where your values and virtues get deeply entwined with the professionalism that one desires as a surgeon. Medical wisdom coupled with ultra-modern infrastructure sets the foundation for a progressive work atmosphere. We celebrate ‘evolution’, we celebrate technology and we celebrate the future of Orthopaedics and undoubtedly the futuristic leap in the way medical excellence is witnessed. Like they say, “Who says sky is the limit, when there are footprints on the moon!”</p>
					</div>
				</div>

				<div class="testimonial-div">
					<div class="testimonial-content">
						<h4>Vaibhav Gupta</h4>
						<h5>DGM, Strategy & Business Performance, Max India</h5>
						<p>“What makes life at Max special is the immense satisfaction one receives, knowing the resulting positive impact that one’s work, directly or indirectly, makes.”</p>
					</div>
					<img src="/static/images/testimonial-img6.jpg"/>
				</div>

			</div>
		</div>
	</div>
</div>


<div class="footer-main">
	<div class="container">
		<div class="row">
			<div class="col-sm-3" data-aos="fade-up" data-aos-duration="1500">
				<div class="footer-left">
					<img src="/static/images/max-footer-logo.png" class="footer-logo"/>
					<h5>Nullam pulvinar urna faucibus erat dignissim, in elementum elit finibus.</h5>
					<h4>Office Info</h4>
					<ul>
						<li><img src="/static/images/phone-icon.png" class="icon" /> +91 11 49376000, +91 11 26324126</li>
						<li><img src="/static/images/email-icon.png" class="icon"/> info@maxindia.com</li>
						<li><img src="/static/images/location-icon.png" class="icon"/> MAX INDIA, L21, Max Towers, Plot No. C-001/A/1 Sector – 16B, Noida-201301, Uttar Pradesh</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-9" data-aos="fade-up" data-aos-duration="1500">
				<div class="row">
					<div class="col-sm-2">
						<div class="footer-right">
							<h4>Company</h4>
							<ul>
								<li><a href="#">Overview </a></li>
								<li><a href="#">Our leadership</a></li>
								<li><a href="#">Our journey</a></li>
								<li><a href="#">Awards</a></li>
								<li><a href="#">Our brands </a></li>
								<li><a href="#">CSR</a></li>
								<li><a href="#">JV Partnerships </a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="footer-right">
							<h4>Our Business</h4>
							<ul>
								<li><a href="#">Antara Senior Care</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="footer-right">
							<h4>Investors</h4>
							<ul>
								<li><a href="#">Overview</a></li>
								<li><a href="#">Financials </a></li>
								<li><a href="#">Stakeholder info</a></li>
								<li><a href="#">Disclosures</a></li>
								<li><a href="#">Annual reports</a></li>
								<li><a href="#">Post ballot notice</a></li>
								<li><a href="#">FAQ's</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="footer-right">
							<h4>Resources</h4>
							<ul>
								<li><a href="#">In the News</a></li>
								<li><a href="#">Press Releases</a></li>
								<li><a href="#">Media</a></li>
								<li><a href="#">Blogs</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="footer-right">
							<h4>Careers</h4>
							<ul>
								<li><a href="#">Life at Max</a></li>
								<li><a href="#">Testimonials</a></li>
								<li><a href="#">Gallery</a></li>
								<li><a href="#">Join us</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright-div">
		<p>Copyright 2022, MAX INDIA. All Rights Reserved.</p>
	</div>
</div>
	
<script type="text/javascript" src="/static/js/jquery-1.12.0.min.js"></script> 
<script src="/static/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/aos.js"></script> 
<script type="text/javascript" src="/static/js/custom.js"></script> 
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js'></script>

</body>
</html>